<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Kush Patel, portfolio, Kush, full stack dev, personal portfolio lifecodes, portfolio design, portfolio website, personal portfolio" />
    <meta name="description" content="Welcome to Kush's Portfolio.  Web Developer and Android App Developer" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Favicon -->
     <img src="../public/images/Screenshot 2023-10-13 211525.png" alt="Demo pic">
     <title>Portfolio | Kush Patel </title>
</head>
<header>
        <a href="/" class="logo"><i class="fab fa-node-js"></i> Kush</a>

        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="project">Project</a></li>
            <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
</header>
<!-- about section starts -->
<section class="about" id="about">
    <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2>
    
    <div class="row">

    <div class="image"> <img src="../public/images/Screenshot 2023-10-13 211525.png" alt="Demo pic">
   
    </div>
    <div class="content">
        <h3>I'm Kush</h3>
        <span class="tag">Web Developer</span>
        
        <p>I am a Web developer based in Barrie, Ontario. 
          I am an Information Technology undergraduate from Georgian College.
          I am very passionate about improving my coding skills & developing applications & websites.
          I build WebApps and Websites using MERN Stack.
          Working for myself to improve my skills.
          Love to build aesthetic website with the use of the HTML,CSS,JS. </p>
        
        <div class="box-container">
            <div class="box">
              <p><span> email : </span> Kushp7781@gmail.com</p>
              <p><span> place : </span> Barrie, Ontario-L4M4Y4 </p>
            </div>
        </div>
        

    </div>
    </div>
</section>

<section class="education">

  <h1 class="heading"><i class="fas fa-graduation-cap"></i> My <span>Education</span></h1>

    <p class="qoute">Education is not the learning of facts, but the training of the mind to think.</p>

    <div class="box-container">

    <div class="box">
        <div class="image">
        <img draggable="false" src="https://tcglivenew.s3.amazonaws.com/images/school/bf96649f-e843-4cfd-ba28-24f4a9a41143.jpg" alt="">
        </div>
        <div class="content">
        <h3>Computer Programming And Analysis</h3>
        <p>Georgian College, Barrie | GC</p>
        <h4>2023-2024 | Pursuing</h4>
        </div>
    </div>

    <div class="box">
      <div class="image">
      <img draggable="false" src="https://dipsnikol.org/wp-content/uploads/2016/06/School-Bus-Facilities-768x513.jpg" alt="">
      </div>
      <div class="content">
      <h3>Seventh Day Adventist Higher Secondary School</h3>
      <p> Gujarat, Ahmedabad, India |Certified Board: ICSE</p>
      <h4>2018-2020 | Completed</h4>
      </div>
    </div>

</div>
</section>
<!-- about section ends -->



<section class="footer">

  <div class="box-container">

      <div class="box">
          <h3>Kush's Portfolio</h3>
          <p>Thank you for visiting my personal portfolio website. Connect with me over socials. <br/> <br/> Keep Rising 🚀. Connect with me over live chat!</p>
      </div>

      <div class="box">
          <h3>Contact info</h3>
          <p> <i class="fas fa-phone"></i>+1 705-826-3944</p>
          <p> <i class="fas fa-envelope"></i>Kushp7781@gmail.com</p>
          <p> <i class="fas fa-map-marked-alt"></i>Barrie, Ontario-L4M4Y4</p>
          <div class="share">
            <p>&copy; 2023 KUSH PATEL | Software Developer</p>
           <div class="footer-links">
            <p>LINKS TO GITHUB AND LINKEDIN</p>
            <a href="https://github.com/kush-7k" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/kush-patel-a5262524a/" target="_blank">LinkedIn</a>
        </div>   </div>
      </div>
  </div>
</section>