<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Kush Patel, portfolio, Kush, full stack dev, personal portfolio lifecodes, portfolio design, portfolio website, personal portfolio" />
    <meta name="description" content="Welcome to Kush's Portfolio.  Web Developer and Android App Developer" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Favicon -->
    <img src="../public/images/Screenshot 2023-10-13 211525.png" alt="Demo pic">
    <title>Portfolio | Kush Patel </title>
</head>
<header>
        <a href="/" class="logo"><i class="fab fa-node-js"></i> Kush</a>

        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="project">Project</a></li>
            <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
</header>
<!-- contact section starts -->
<section class="contact" id="contact">
  
  <h2 class="heading"><i class="fas fa-headset"></i> Get in <span>Touch</span></h2>

  <div class="container">
    <div class="content">
      <div class="image-box">
   <img src="../public/images/Screenshot 2023-10-13 211525.png" alt="Demo pic">
   
      </div>
    <form id="contact-form">
      
      <div class="form-group">
        <div class="field">
          <input type="text" name="name" placeholder="Name" required>
          <i class='fas fa-user'></i>
        </div>
        <div class="field">
          <input type="text" name="email" placeholder="Email" required>
          <i class='fas fa-envelope'></i>
        </div>
        <div class="field">
          <input type="text" name="phone" placeholder="Phone">
          <i class='fas fa-phone-alt'></i>
        </div>
        <div class="message">
        <textarea placeholder="Message" name="message" required></textarea>
        <i class="fas fa-comment-dots"></i>
        </div>
        </div>
      <div class="button-area">
        <button type="submit">
          Submit <i class="fa fa-paper-plane"></i></button>
      </div>
    </form>
  </div>
  </div>
</section>
<!-- contact section ends -->


<section class="footer">

  <div class="box-container">

      <div class="box">
          <h3>Kush's Portfolio</h3>
          <p>Thank you for visiting my personal portfolio website. Connect with me over socials. <br/> <br/> Keep Rising 🚀. Connect with me over live chat!</p>
      </div>

      <div class="box">
          <h3>Contact info</h3>
          <p> <i class="fas fa-phone"></i>+1 705-826-3944</p>
          <p> <i class="fas fa-envelope"></i>Kushp7781@gmail.com</p>
          <p> <i class="fas fa-map-marked-alt"></i>Barrie, Ontario-L4M4Y4</p>
          <div class="share">
            <p>&copy; 2023 KUSH PATEL | Software Developer</p>
           <div class="footer-links">
            <p>LINKS TO GITHUB AND LINKEDIN</p>
            <a href="https://github.com/kush-7k" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/kush-patel-a5262524a/" target="_blank">LinkedIn</a>
        </div>   </div>
      </div>
  </div>
</section>