<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Kush Patel, portfolio, Kush, full stack dev, personal portfolio lifecodes, portfolio design, portfolio website, personal portfolio" />
    <meta name="description" content="Welcome to Kush's Portfolio.  Web Developer and Android App Developer" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Favicon -->
    <img src="../public/images/Screenshot 2023-10-13 211525.png" alt="Demo pic">
    <title>Portfolio | Kush Patel </title>
</head>
<body oncontextmenu="return false">

<!-- pre loader -->
<!-- <div class="loader-container">
  <img draggable="false" src="./images/preloader.gif" alt="">
</div> -->

<!-- navbar starts -->
<header>
        <a href="/" class="logo"><i class="fab fa-node-js"></i> Kush</a>

        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
            <li><a href="./home">Home</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./project">Project</a></li>
            <li><a href="./contact">Contact</a></li>
            </ul>
        </nav>
</header>
<!-- navbar ends -->


<!-- hero section starts -->
<section class="home" id="home">
    <div id="particles-js"></div>

    <div class="content">
    <h2>Hi There,<br/> I'm Kush <span>patel</span></h2>
    <p>I am into <span class="typing-text"></span></p>
    <a href="about.hbs" class="btn"><span>About Me</span>
      <i class="fas fa-arrow-circle-down"></i>
    </a>
    <div class="socials">
        <ul class="social-icons">
          <li><a class="github" aria-label="GitHub" href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a class="twitter" aria-label="Twitter" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a class="instagram" aria-label="Instagram" href="https://www.instagram.com/"><i class="fab fa-instagram" target="_blank"></i></a></li>
        </ul>
      </div>
    </div>
<div class="image">
  <img src="../public/images/Screenshot 2023-10-13 211525.png" id="profpic" alt="Demo pic">
</div>
</section>
<!-- hero section ends -->








<!-- footer section starts -->



<section class="footer">

  <div class="box-container">

      <div class="box">
          <h3>Kush's Portfolio</h3>
          <p>Thank you for visiting my personal portfolio website. Connect with me over socials. <br/> <br/> Keep Rising 🚀. Connect with me over live chat!</p>
      </div>

      <div class="box">
          <h3>Contact info</h3>
          <p> <i class="fas fa-phone"></i>+1 705-826-3944</p>
          <p> <i class="fas fa-envelope"></i>Kushp7781@gmail.com</p>
          <p> <i class="fas fa-map-marked-alt"></i>Barrie, Ontario-L4M4Y4</p>
          <div class="share">
            <p>&copy; 2023 KUSH PATEL | Software Developer</p>
           <div class="footer-links">
            <p>LINKS TO GITHUB AND LINKEDIN</p>
            <a href="https://github.com/kush-7k" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/kush-patel-a5262524a/" target="_blank">LinkedIn</a>
        </div>   </div>
      </div>
  </div>
</section>

<!-- scroll top btn -->
<a href="#home" aria-label="ScrollTop" class="fas fa-angle-up" id="scroll-top"></a>
<!-- scroll back to top -->


</body>
</html>
